<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinkedOut</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<header th:include="/fragments/nav">
</header>
<main>
    <div class="container">
        <h2 class="text-center text-dark bg-light rounded-circle mt-5">All companies</h2>
        <hr style="width: 50%"/>
        <div class='row mb-4 d-flex justify-content-around'>

            <div class="col-md-4 d-flex flex-column bg-text mb-3 rounded-circle"
            th:each="company : ${companies}">
                <h2>Company: <span th:text="${company.name}"/></h2>
                <h2>Town: <span th:text="${company.town}"/></h2>
                <h4>Description: <span th:text="${#strings.substring(company.description, 0, 5)}"/>...</h4>
                <h4><a class="btn-block" th:href="@{'/companies/'+${company.id}}">Detail info</a></h4>
            </div>
          
        </div>
    </div>
</main>

<footer id="footer">
    <div class="container-fluid bg-transparent rounded">
        <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
    </div>
</footer>
</body>
</html>