<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinkedOut</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<header th:include="/fragments/nav">

</header>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <main class="jumbotron text-center rounded col-md-12 align-self-center">
            <div class="justify-content-center">
                <h1>Add Employee</h1>
            </div>
            <form class="m-md-auto w-50 text-center" th:method="post" th:action="@{/employees/add}" th:object="${addEmployeeDto}">

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control text-center" id="firstName" aria-describedby="firstName"
                           th:field="*{firstName}"
                           th:errorclass="is-invalid"
                    />
                    <small class="invalid-feedback">Error message</small>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control text-center" id="lastName" aria-describedby="lastName"
                           th:field="*{lastName}"
                           th:errorclass="is-invalid"
                    />
                    <small class="invalid-feedback">Error message</small>
                </div>
                <fieldset class="form-group" th:field="*{educationLevel}">
                    <legend>Choose Education Level</legend>
                    <div class="form-check" th:each="level : ${T(bg.softuni.linkedout.models.enums.EducationLevel).values()}">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="educationLevel" th:value="${level}" th:errorclass="is-invalid"/>
                            <span th:text="${#strings.capitalize(#strings.toLowerCase(level))}">Level</span>
                        </label>
                    </div>
                    <small class="invalid-feedback">Error message</small>
					</fieldset>

                <div class="form-group">
                    <label for="company"><h5>All available companies</h5></label>
                    <select multiple="false" class="form-control text-center" id="company" th:field="*{company}" th:errorclass="is-invalid">
                        <option th:each="company : ${companies}" th:text="${company.name}" th:value="${company.name}">Company name</option>
                    </select>
                    <small class="invalid-feedback">Error message</small>
				</div>

                <div class="form-group">
                    <label for="jobTitle">Job Title</label>
                    <input type="text" class="form-control text-center" id="jobTitle" aria-describedby="jobTitle" th:field="*{jobTitle}" th:errorclass="is-invalid"/>
                    <small class="invalid-feedback">Error message</small>
                </div>

                <div class="form-group">
                    <label for="birthDate">Birth Date</label>
                    <input type="date" class="form-control text-center" id="birthDate" aria-describedby="birthDate" th:field="*{birthDate}" th:errorclass="is-invalid" />
                    <small class="invalid-feedback">Error message</small>
                </div>

                <div class="form-group">
                    <label for="salary">Salary</label>
                    <input type="number" min="0" class="form-control text-center" id="salary" 
					aria-describedby="salary" th:field="*{salary}" th:errorclass="is-invalid"/>
                    <small class="invalid-feedback">Error message</small>
                </div>

                <button type="submit" class="btn btn-secondary">Add Employee</button>
            </form>
        </main>
    </div>
</div>
</body>
<footer id="footer">
    <div class="container-fluid bg-transparent rounded">
        <div class="text-white p-2 text-center">&copy; Spring Team 2020. All rights reserved.</div>
    </div>
</footer>
</html>