<header>
    <nav class="main-nav">
        <ul>
            <li>
                <a th:href="@{/}">Home</a>
            </li>
            <th:block sec:authorize="!isAuthenticated()">
            <li sec:autho="${!@currentUser.isLogged()}">
                <a th:href="@{/login}">Login</a>
            </li>
            <li>
                <a th:href="@{/register}">Register</a>
            </li>
            <li>
                <a th:href="@{/about}">About</a>
            </li>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
            <li >
                <a th:href="@{/addroute}">Add new route</a>
            </li>
            <li >
                <a th:href="@{/profile}">Profile</a>
            </li>
            <li >
                <a th:href="@{/admin}">Admin</a>
            </li>
            <li >
                <a th:href="@{/logout}">Logout</a>
            </li>
            </th:block>
        </ul>
    </nav>
</header>