<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>My Music DB Application</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header th:include="/fragments/nav">

</header>
<main class="p-5 align-content-center bg-blur my-main">
    <h2 class="text-light border-bottom">Total sold copies
        of all albums: <span th:text="${totalCopies}"></span></h2>
    <div class="row">
        <div class="col-md-3" th:each="album : ${albums}">
            <div class="card mb-4 box-shadow" th:object="${album}">
                <img th:src="*{imgUrl}" class="card-img-top" alt="Thumbnail [100%x225]"
                     data-holder-rendered="true"
                     style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <div class="text-center">
                        <p class="card-text border-bottom ">Name: <span th:text="*{name}"></span></p>
                        <p class="card-text border-bottom ">Artist: <span th:text="*{artist.name}"></span></p>
                        <p class="card-text border-bottom ">Genre: <span th:text="*{genre}"></span></p>
                        <p class="card-text border-bottom ">Price: <span th:text="*{price}"></span></p>
                        <p class="card-text border-bottom">Release Date: <span th:text="*{releaseDate}"></span></p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                        <small class="text-muted"><span th:text="*{copies}"></span> copies</small>
                    </div>
                </div>
            </div>

        </div>

    </div>

    </div>
</main>
<footer class="footer bg-blur">
    <div class="container-fluid text-center">
        <div class="h5 text-white">
            &copy;SoftUni Spring Team 2021. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>
